header {
    width:100%;
    padding:5px;
    background-color:#eaeaea;
    display:flex;
    align-items: center;
    a {
        display:flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
    img {
        height:32px;
    }
    h1 {
        margin:0 0 0 10px;
        padding: 0;
        display:inline;
    }
}